datasets
src/docker_ORB-SLAM3_part/MH01/
src/docker_ORB-SLAM3_part/Calibration/
src/docker_ORB-SLAM3_part/evaluation/
src/docker_ORB-SLAM3_part/Monocular-Inertial/EuRoC.yaml
src/docker_ORB-SLAM3_part/Monocular-Inertial/EuRoC_TimeStamps/
src/docker_ORB-SLAM3_part/Monocular-Inertial/mono_inertial_euroc.cc
.vscode
src/Monocular/test_dataset
src/Monocular/carla_dataset_long
src/Monocular/carla_dataset_long_60fps
src/Monocular/carla_dataset2
src/Monocular/__pycache__
src/docker_ORB-SLAM3_part/Monocular/camera

src/embeddings_dev/.ipynb_checkpoints
src/embeddings_dev/weights
src/embeddings_dev/dataset_small
src/embeddings_dev/.virtual_documents/
src/Monocular/debug_output/
src/Monocular/collected_data/
src/Monocular/short_debug/
src/Monocular/short_debug_1/
src/Monocular/long_debug/

collected_data.zip

.VSCodeCounter/