carla==0.10.0
clip==1.0
matplotlib==3.9.4
numpy==1.26.3
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
pandas==2.2.3
Pillow==10.2.0
pyzmq==26.2.0
qdrant_client==1.14.2
segment_anything==1.0
torch==2.7.0+cu126
torchvision==0.22.0+cu126
tqdm==4.67.1
transformers==4.51.3
